.root {
}

.content {
  @apply relative;

  .fakeBig {
    margin: auto;
    top: -30%;
    left: -80px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 50%;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.pCard {
  position: relative;
  &:nth-child(1) {
    transform: scale(0);
    z-index: 800;
  }
  &:nth-child(2) {
    transform: scale(0);
    z-index: 900;
  }
  &:nth-child(3) {
    transform: scale(0);
    z-index: 1000;
  }
  &:nth-child(4) {
    transform: scale(0);
    z-index: 900;
  }
  &:nth-child(5) {
    transform: scale(0);
    z-index: 800;
  }
}
