html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  /* No scrolling during intro animation */
  overflow-y: hidden;
}

.parent-scroller {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* pointer-events: none; */
}

/* customize scrollbar */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--accent-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--accent-3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-4);
}

/* customize select element content */

::-moz-selection {
  /* Code for Firefox */
  color: var(--primary);
  background: var(--accent2);
}

::selection {
  color: var(--primary);
  background: var(--accent2);
}

